
<mat-grid-list cols="1" >
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab label="測試首頁">
      <p>resource-api works!</p>
     <mat-grid-list cols="1" rowHeight="5em">
       <mat-grid-tile>
         <mat-card>
           <mat-card-content>
             <img src="">
           </mat-card-content>
         </mat-card>
       </mat-grid-tile>
     </mat-grid-list>
    </mat-tab>
    <mat-tab label="Second">

    </mat-tab>
    <mat-tab label="Third">
    </mat-tab>
  </mat-tab-group>
  <mat-grid-tile >

  </mat-grid-tile>
</mat-grid-list>

