.news-row{
  margin: 2vw auto;

}
.my-card {
  background-color: white;
  border-radius: 4px;
  padding: 1vw;
  max-width: 80%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: relative;
}
.my-card-title{
  font-weight: bold;
  display: inline-block;
}
.my-card-sub{
  color: #888;
  font-size: 1rem;
  display: inline-block;
  position: absolute;
  right: 1vw;
}
