<div id="meetingbox">
  <div id="meetingtitlebox">
    <p id="meetingtitle">線上會議</p>
    <a href="">更多</a>
  </div>
  <div id="meetingcontentbox">
    <div id="datestyle">今天</div>
    <a href="">更多</a>
    <div class="meetingcontent">
      <p class="timestyle">11:00</p>
      <p class="meetinginer">線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議</p>
    </div>
    <div class="meetingcontent">
      <p class="timestyle">11:00</p>
      <p class="meetinginer">線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議</p>
    </div>
    <div class="meetingcontent">
      <p class="timestyle">11:00</p>
      <p class="meetinginer">線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議線上會議</p>
    </div>
  </div>
</div>
