<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button [routerLink]="toolBar.logo.path" >{{toolBar.logo.title}}</button>
  <span class="example-spacer"></span>
  <button mat-button *ngFor="let button of toolButtons" [routerLink]="button.path">
    <span>{{button.title}}</span>
    <mat-icon>{{button.icon}}</mat-icon>
  </button>
</mat-toolbar>

<ng-content></ng-content>
