<div id="servicebox">
  <div id="servicetitlebox">
    <p id="servicetitle">修繕狀況</p>
    <button mat-raised-button id="servicebutton">立即回報</button>
    <a href="" id="servicesrc">更多</a>
  </div>
  <div id="servicecontentbox">
    <div id="serviceimg">
      <mat-icon class="iconstyle">upcoming</mat-icon>
      <p id="servicestatus">已回報</p>
    </div>
    <div id="servicecontent">
      <p class="contenttitle">水溝蓋遺失</p>
      <mat-icon class="contenticon">message</mat-icon>
      <p class="contentstyle">新增時間:2021/2/20</p>
      <p class="contentstyle">地點:台南市北區文賢路一段31號</p>
    </div>
  </div>
</div>
<div class="clearFloat"></div>
