<form class="example-form" [formGroup]="myform" addConfirmPwd>
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>姓名</mat-label>
    <input matInput formControlName="name" maxlength="10">
    <mat-error *ngIf="name?.errors?.required" >請輸入姓名</mat-error>
  </mat-form-field>
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>手機號碼</mat-label>
    <span matPrefix>+886 &nbsp;</span>
    <input type="tel" matInput placeholder="977-555-333" minlength="9" maxlength="9" formControlName="phone">
    <mat-icon matSuffix>mode_edit</mat-icon>

    <mat-error *ngIf="phone?.errors?.required" >請輸入手機號碼</mat-error>
    <mat-error *ngIf="phone?.errors?.minlength" >手機號碼格式錯誤</mat-error>
  </mat-form-field>
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>選擇您的里</mat-label>
    <mat-select formControlName="addr">
      <mat-option value="primary">Primary</mat-option>
      <mat-option value="accent">Accent</mat-option>
      <mat-option value="warn">Warn</mat-option>
    </mat-select>
    <mat-error *ngIf="addr?.errors?.required">請選擇地址</mat-error>
  </mat-form-field>
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>密碼</mat-label>
    <input matInput minlength="4" type="password" minLength="4" maxlength="20" formControlName="password">
    <mat-error *ngIf="password?.errors?.required" >請輸入密碼4-20個字元</mat-error>
    <mat-error *ngIf="password?.errors?.minlength" >密碼不足4個字元</mat-error>
  </mat-form-field>
  <mat-form-field class="input-full-width" appearance="outline">
    <mat-label>確認密碼</mat-label>
    <input matInput type="password" autocomplete="off" formControlName="checkpwd">
    <mat-error *ngIf="checkpwd?.errors?.required">請確認密碼</mat-error>
    <mat-error *ngIf="checkpwd.errors?.equalsTo">密碼不一致</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" class="input-full-width"  (click)="OnSubmit()" [disabled]="!myform.valid"  >註冊</button>
</form>
